:root {
    --theme-dark-grey: noir;
    --theme-beige: #f7dbb9;
    --theme-white: #ffffff;
    --theme-brown: #3e1e04;
}
  
body {
    background-color: var(--theme-dark-grey);
    color: var(--theme-white);
    font-family: 'Noto Sans', sans-serif;
}

/* Head */
.header {
    text-align: center;
    padding: 2rem;
    background-color: var(--theme-dark-grey);
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--theme-dark-grey);
    color: var(--theme-white);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header__part-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
}

.header__part-logo-img {
    width: 15rem;
    height: 15rem;

}

.header__part-logo-title {
    font-size: 2rem;
    
}

.header__part-link-item {
    text-decoration: none;
    margin-left: 1rem;
    color: var(--theme-white);
    font-size: 1.5rem;
}

/* Main */
.main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex: 1;
}



.main__title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
    border-top: 1px solid  var(--theme-white);
    border-bottom: 1px solid  var(--theme-white);
    color: var(--theme-beige);
    margin: 5rem 0;
    padding: .5rem;
    border-radius: .3rem;
}

.div__product {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.article__product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    box-shadow: 
    0 4px 8px rgba(255, 255, 255, 0.1), 
    0 2px 4px rgba(0, 0, 0, 0.4); 
    
    color: var(--theme-beige);
    
}

.article__product-title {
    border-bottom: 1px solid  var(--theme-white);
    color: var(--theme-beige);
    text-align: center;
    margin-bottom: 2rem;
}

.article__product-liste {
    display: block;
    justify-content: flex-start;
    list-style: none;
}

.article__product-detail {
    margin-bottom: .5rem;
}

.article__product-img {
    width: 15rem;
    height: 15rem;
    margin-right: 2rem;
    
}

.article__product-divLink {
    display: flex;
    
    justify-content: center;
}



.article__product-link {
    background-color: var(--theme-brown);
    color: var(--theme-beige);
    padding: .4rem;
    border-radius: .3rem;
    text-decoration: none;
    margin-bottom: .5rem;
} 

.article__product-link:hover {
    transform: scale(0.9); 
    transition: transform 0.3s ease-in-out; 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); 
  }
 
/* Footer */
.footer {
    background-color: var(--theme-dark-grey);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: .1rem;
}

.footer__presentation {
    text-decoration: none;
    color: var(--theme-brown);
}

.footer__text {
    color: var(--theme-white);
}
